<h1>Declarations for capump.mod</h1>
<pre><font size=+2>NEURON {
	SUFFIX capmp
	USEION ca READ cao, ica, cai WRITE cai, ica
	RANGE tau, width, cabulk, ica, pump0
}

UNITS {
	(um)	=	(micron)
	(molar) =	(1/liter)
	(mM)	=	(millimolar)
	(uM)	= 	(micromolar)
	(mA)	=	(milliamp)
	(mol)	=	(1)
	FARADAY = 	(faraday)	(coulomb)
}

PARAMETER {
	width = 0.1 (um)
	tau = 1 (ms)
	k1 = 5e8	(/mM-s)
	k2 = 0.25e6	(/s)
	k3 = 0.5e3	(/s)
	k4 = 5e0	(/mM-s)
	cabulk = 0.1 (uM)
	pump0 = 3e-14 (mol/cm2)
}

ASSIGNED {
	cao (mM) : 10
	cai (mM) : 1e-3
	ica (mA/cm2)
	ica_pmp (mA/cm2)
	ica_pmp_last (mA/cm2)
}

STATE {
	cam (uM)	<1e-6>
	pump (mol/cm2)  <1e-16>
	capump (mol/cm2) <1e-16>
}
</pre>
