/* Firefox custom CSS for Zukitre GTK Theme */
 
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
 
/* Awesomebar improvements */
#urlbar {
	-moz-appearance: textfield !important;
	/*border: 1px solid #717171 !important;*/
}
 
#urlbar .autocomplete-textbox-container {
background-color: -moz-Field !important;
	-moz-appearance: none !important;
}
 
#urlbar > .autocomplete-history-dropmarker {
	-moz-appearance: toolbarbutton-dropdown !important;
	margin: 0px 3px 0px 5px !important;
}
 
#PopupAutoCompleteRichResult .autocomplete-richlistitem {
	background: -moz-Field !important;
}
 
#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected="true"] {
	background: Highlight !important;
}
 
#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected="true"],
#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected="true"] * {
	color: HighlightText !important;
}
 
.ac-title {
	color: -moz-Fieldtext !important;
}
 
#PopupAutoComplete .autocomplete-treebody {
background-color: -moz-Field !important;
	color: -moz-Fieldtext !important;
}
 
/* Identity/Bookmark pop-up improvements */
#identity-popup-container {
	-moz-appearance: dialog !important;
}
 
#editBookmarkPanel {
	-moz-appearance: dialog !important;
}
 
#editBMPanel_foldersExpander, #editBMPanel_tagsSelectorExpander {
	-moz-appearance: menulist-button !important;
}

/* Remove focus lines from tabs */
.tabbrowser-tab > .tab-text {
	border: 1px dotted transparent !important;
}
 
/* Square tabs */
.tab-background-end[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-start[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before, .tab-background-start[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-end[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before, .tab-background-start[selected=true]:-moz-locale-dir(ltr):-moz-lwtheme::before,
.tab-background-end[selected=true]:-moz-locale-dir(rtl):-moz-lwtheme::before, .tab-background-end[selected=true]:-moz-locale-dir(ltr):-moz-lwtheme::before,
.tab-background-start[selected=true]:-moz-locale-dir(rtl):-moz-lwtheme::before,.tab-background-start[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-end[selected=true]:-moz-locale-dir(rtl)::after,.tab-background-end[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-start[selected=true]:-moz-locale-dir(rtl)::after, .tab-background-middle[selected=true], .tab-background-middle[selected=true]:-moz-lwtheme, .tab-background-start[selected=true]:-moz-lwtheme::before,
.tab-background-end[selected=true]:-moz-lwtheme::before, #tabbrowser-tabs::before, .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]){
	background-image: none !important;
	background-color: transparent !important;
	background-size: 100% 100%;
}

.tabs-newtab-button,
.tabbrowser-tab:not([selected]) {
	background-color: transparent !important;
	color: #2c2c2c !important;
	border: none !important;
	background-image: none !important;
	border-radius: 0 !important;
}
 
.tabs-newtab-button:hover,
.tabbrowser-tab:not([selected]):hover {
	background-color: rgba(255,255,255,0.2) !important;
	color: #2c2c2c !important;
}
 
.tabbrowser-tab[selected] {
	background-color: rgba(255,255,255,1.0) !important;
	color: #2c2c2c !important;
	border: 1px solid #b0b0b0 !important;
	border-top-width: 1px !important;
	border-bottom-width: 0px !important;
	border-radius: 0 !important;
	background-image: none !important;
	box-shadow: none;
}
 
 
.tabbrowser-tab {
	padding: 0 2px !important;
	margin: 0 !important;
}
#nav-bar {
	background-image: none !important;
	background-color: #d6d6d6 !important;
	box-shadow: inset 0 -1px #E3E3E3 !important;
}
 
#urlbar, #search-bar {
	-moz-appearance: none !important;
}

/* Tabbar */
.tabbrowser-tabs {
	background-color: #c9c9c9 !important;
	border-top: 1px solid #b0b0b0 !important;
	box-shadow: inset 0 -1px #b0b0b0, inset 0 2px rgba(176, 176, 176, 0.35) !important;
	margin: 0 !important;
	border-bottom-width: 0 !important;
}

/* places the tabs at the bottom */
#TabsToolbar {
	-moz-box-ordinal-group: 2 !important;
}
#addon-bar {
	-moz-box-ordinal-group: 3 !important;
}

#TabsToolbar {
	margin-bottom: -3px !important;
	padding-left: 0 !important;
}

#TabsToolbar:after {
	border-bottom: 1px solid #afafaf !important;
	margin-bottom: -1px !important;
}

.tabbrowser-tab:before,
.tabbrowser-tab:after { 
	visibility: hidden !important;
}

.tabs-newtab-button {
	margin: 0 !important;
	padding: 0 !important;
	max-width: 24px !important;
}
