body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #dda;
  color: #222;
}

a {
    color: black;
}

h1 a {
	text-decoration: none
}

h2 a {
	text-decoration: none
}

h3 a {
	text-decoration: none
}

a:visited {
  color: #444;
}

#TOC a {
	text-decoration: underline
}

.more { font-size: 0.7em;}

img.right {
  float: right;
  margin: 15px;
}

#header {
  font-family: Courier;
  text-align: left;
  background: #222;
  -moz-border-radius-topleft: 0.4em;
  -webkit-border-top-left-radius: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-top-right-radius: 0.4em;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  padding: 1em;
  text-align: center;
}

#header h1 {
  font-size: 2.2em;
  color: #fff;
  font-weight: normal;
}

#header h2 {
  font-size: 1.5em;
  margin-left: 0.5em;
  font-weight: normal;
  color: #dd5;
}

#header h3 {
  margin-left: 0.5em;
  font-weight: normal;
  color: #dd5;
}

#wrapper {
  width: 50em;
  margin: 2em auto 0;
  padding: 0;
  background: #fff;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  box-shadow: 0 3px 7px #999;
}

#menu {
  background: #444;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

#message {
  padding: 20px;
  margin: 10px 30px;
  border: 1px solid #383;
  background: #aea;
  text-align: center;
}

#content {
  padding: 2em;
}

#content h2 {
  margin: 0 0 0.5em 0;
  color: black;
  font-size: 1.5em;
}

#content p {
  line-height: 140%;
}

.subheader {
  background: #484;
  display: block;
  padding: 0.4em 0.6em 0.3em;
  font-weight: bold;
  color: white;
  border-bottom: 3px solid #262;
  position: relative;
}

.subheader .pdflink {
    text-align: right;
    display: block;
    float: right;
}

div.post {
  margin-bottom: 2em;
}

.post h1 {
  margin-top: 0.2em;
}

.post { color: #333; }

.post h1 a {
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px dashed #555;
  font-weight: bold;
}

.post br { margin-bottom: 10px;}

pre {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: "Consolas","Courier New",Courier,mono;
  font-size: 12px;
  letter-spacing: 0;
}

.figure .caption {
    font-style: italic;
}

table thead, table tbody {
    font-size: 12px;
}

table.has_caption {
    position: relative;
    padding-bottom: 30px;
}

table.has_caption caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

table caption {
    font-style: italic;
    text-align: left;
}

table thead {
    font-weight: bold;
    background: #eaeaea;
}

table th, table td {
    padding: 8px;
}

table.post-list {
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  color: #262;
  font-weight: bold;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  padding: 0.5em 0.3em;
  border-bottom: 1px solid #dba;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

div.related {
  margin-bottom: 2em;
}

#footer {
  margin-bottom: 2em;
  color: #3E423A;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: center;
}

.home_box {
  float: left;
}

#content .home_box h2 {
  background: #333;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #666;
  margin-bottom: 0em;
  color: #dd5;
}

.home_box h2 a {
  color: #ff3;
  margin: 0 0.2em;
}

#home_left {
  width: 29em;
}

#home_right {
  width: 16em;
  margin-left: 1em;
}

.clearfix { clear: both;}

#footer a {
  color: #3E423A;
  font-weight: normal;
}

.announce { padding: 5px; padding-bottom: 20px; padding-top: 0px; }

.home_box .post h1 a {
  font-size: 0.7em;
}

.repo {
  background: #fff5cc;
  border: 2px solid #dda;
  padding: 0.7em 1em;
  font-size: 0.8em;
  margin: 1em 1em 0 0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
.repo h3 {
  margin: 0 0 0.3em 0;
}
.repo h3 a {
  font-weight: bold;
  color: black;
  font-size: 1.1em;
}

#github-projects.big .repo {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }

ul#toc  {
  list-style: none;
  margin: 0;
}

ul#toc ul  {
  list-style: none;
}

ul#toc a {
  color: #333;
}

.book-ad a {
    color: #262;
    font-size: 1.5em;
    text-decoration: none;
}

h3.subtitle {
  margin-top: 15px;
}

h3.subtitle small {
  color: #666;
  font-size: 0.7em;
  padding-left: 10px;
}

table.rdata {
  width: 95%;
  background: #fff;
  padding: 8px;
  border: 1px solid #333;
  font-size: 1.1em;
}

table.rdata tr.level {
  color: #0b98b4;
  background: #def;
}

table.rdata tr.even {
  background: #eee;
}

table.rdata tr th.cmd {
  font-family: monospace;
  text-align: left;
}
table.rdata tr {
}

table.rdata tr th {
  padding: 8px;
}
table.rdata tr td {
  padding: 15px 8px;
  border-left: 1px solid #def;
}
table.rdata tr td.no {
  background: #fdd;
}
table.rdata tr td.yes {
  background: #dfd;
}
table.rdata tr td.yes-wd {
  background: #aea;
}
table.rdata tr td.no-wd {
  background: #eaa;
}

.moreinfo {
  float: right;
  background: #eee;
  padding: 4px;
  margin-left: 8px;
  margin-bottom: 10px;
  width: 160px;
  min-height: 170px;
  font-size: 0.9em;
  border: 1px solid #aaa;
}

.moreinfo .twitter {
  display: relative;
  padding: 8px;
}
.moreinfo .twitter small {
  margin-top: 10px;
  color: #888;
}
.moreinfo .twitter small a {
  color: #888;
}

.moreinfo .book {
  display: relative;
  padding: 10px;
  font-size: 0.9em;
}
.moreinfo img {
  float: right;
  padding-left: 10px;
}

.commands-index ul {
    list-style-type: none;
    padding-left: 20px;
}

.commands-index ul li {
    line-height: 1.5em;
}

.commands-index ul li strong {
    display: inline-block;
    padding-left: 5px;
    vertical-align: top;
    width: 130px;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}

.commands-index ul li:hover strong {
    background:#DDA;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.commands-index ul li small {
    display: inline-block;
    width: 560px;
}

.commands-index ul li small .pagelink {
    display: inline-block;
    width: 50px;
}
