// Drawing mixins

// generic drawing of more complex things

@function _widget_edge($c:$borders_edge) {
// outer highlight "used" on most widgets
  @if $c == none { @return none; }
  @else { @return 0 1px $c; }
}

@mixin _shadows($list...) {
//
// Helper mixin to stack up to box-shadows;
//
  $shadows: null;

  @each $shadow in $list {
    @if $shadow!=none { $shadows: $shadows, $shadow; }
  }

  box-shadow: $shadows;
}

// entries
@function entry_focus_border($fc:$selected_bg_color) {
  @if $variant == 'light' { @return $fc; }
  @else { @return if($fc==$selected_bg_color, $selected_borders_color, darken($fc, 35%)); }
}

@function entry_focus_shadow($fc:$selected_bg_color) { @return inset 0 0 0 1px $fc; }

@mixin entry($t, $fc:$selected_bg_color, $edge: none) {
//
// Entries drawing function
//
// $t: entry type
// $fc: focus color
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, focus, insensitive, backdrop, backdrop-insensitive, osd, osd-focus, osd-backdrop;
//

  $_blank_edge: if($edge == none, none, 0 0px transparentize($edge, 1));
  $_entry_edge: if($edge == none, none, _widget_edge($edge));
  $entry-inset: inset 1px 0 transparentize(black, 0.92), 
                inset 0 1px transparentize(black, 0.92), 
                inset -1px 0 transparentize(black, 0.92), 
                inset 0 -1px transparentize(black, 0.92);
  $entry-border: darken($borders_color, 8%);

  @if $t==normal {
    color: $text_color;
    border-color: $entry-border;
    box-shadow: $entry-inset;
    background-image: linear-gradient(to bottom, darken($base_color, 6%), $base_color);
  }
  @if $t==focus {
    border-color: entry_focus_border($fc);
  }
  @if $t==insensitive {
    color: $insensitive_fg_color;
    border-color: $borders_color;
    background-color: $insensitive_bg_color;
  }
  @if $t==osd {
    color: $osd_text_color;
    border-color: $osd_borders_color;
    background-color: transparentize(opacify($osd_borders_color, 1), 0.5);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-focus {
    color: $osd_text_color;
    border-color: $selected_bg_color;
    background-color: transparentize(opacify($osd_borders_color, 1), 0.5);
    background-clip: padding-box;
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
  }
  @if $t==osd-insensitive {
    color: $osd_insensitive_fg_color;
    border-color: $osd_borders_color;
    background-color: $osd_insensitive_bg_color;
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}

// buttons

@function _border_color($c, $darker: false) {
  @if $darker == true { @return darken($c, 30%); }
  @else { @return darken($c, 20%); }
}

@function _text_shadow_color ($tc: $fg_color, $bg: $bg_color) {
//
// calculate the color of text shadows
//
// $tc is the text color
// $bg is the background color
//
  $_lbg: lightness($bg)/100%;
  @if lightness($tc)<50% { @return transparentize(white, 1-$_lbg/($_lbg*1.3)); }
  @else { @return transparentize(black, $_lbg*0.8); }
}

@function _button_hilight_color($c) {
//
// calculate the right top hilight color for buttons
//
// $c: base color;
//
  @if lightness($c)>95% { @return white; }
  @else if lightness($c)>90% { @return transparentize(white, 0.2); }
  @else if lightness($c)>80% { @return transparentize(white, 0.4); }
  @else if lightness($c)>50% { @return transparentize(white, 0.6); }
  @else if lightness($c)>40% { @return transparentize(white, 0.8); }
  @else { @return transparentize(white, 0.95); }
}

@mixin _button_text_shadow ($tc:$fg_color, $bg:$bg_color) {
//
// helper function for the text emboss effect
//
// $tc is the optional text color, not the shadow color
//
// TODO: this functions needs a way to deal with special cases
//

  $_shadow: _text_shadow_color($tc, $bg);

  @if lightness($tc)<50% {
    text-shadow: 0 1px $_shadow;
    -gtk-icon-shadow: 0 1px $_shadow;
  }
  @else {
    text-shadow: 0 -1px $_shadow;
    -gtk-icon-shadow: 0 1px $_shadow;
  }
}

@mixin button($t, $c:$bg_color, $tc:$fg_color, $edge: $borders_edge) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// backdrop, backdrop-active, backdrop-insensitive, backdrop-insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive, osd-backdrop, undecorated
//

  // Pressed button shadows.
  $inset-shade: inset 1px 0 transparentize(black, 0.92), 
                inset 0 1px transparentize(black, 0.92), 
                inset -1px 0 transparentize(black, 0.92), 
                inset 0 -1px transparentize(black, 0.92);
  // Border colors
  $btn-border: if($c!=$bg_color, _border_color($c), darken($borders_color, 12%));
  $btn-border-i: if($c!=$bg_color, _border_color($c), $insensitive_borders_color);
  $btn-shadow: 
    1px 0 transparentize(black, 0.92), 
    0 1px transparentize(black, 0.92), 
    -1px 0 transparentize(black, 0.92), 
    0 -1px transparentize(black, 0.92),
    inset 1px 0 if($variant == 'light', transparentize(white, 0.6), transparentize(white, 0.94)),
    inset 0 1px if($variant == 'light', transparentize(white, 0.6), transparentize(white, 0.94)),
    inset -1px 0 if($variant == 'light', transparentize(white, 0.6), transparentize(white, 0.94)),
    inset 0 -1px if($variant == 'light', transparentize(white, 0.6), transparentize(white, 0.94));

  $_hilight_color: _button_hilight_color($c);
  $_button_edge: if($edge == none, none, _widget_edge($edge));
  $_blank_edge: if($edge == none, none, _widget_edge(transparentize($edge, 1)));

  @if $t==normal {
  // normal button
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: $btn-border;
    background-image: linear-gradient(to bottom,
                                  lighten($c, 10%),
                                  lighten($c, 8%));
    box-shadow: $btn-shadow;
  }
  @if $t==normal-alt { // FIXME: What is this?
  // normal button alternative look
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: $btn-border;
    background-image: linear-gradient(to bottom,
                                  lighten($c, 10%),
                                  lighten($c, 8%));
    box-shadow: $btn-shadow;
  }

  @else if $t==hover {
  // hovered button
    color: $tc;
    background-image: linear-gradient(to bottom,
                                  lighten($c, 12%),
                                  lighten($c, 11%));
  }
  @else if $t==hover-alt {
  // hovered button
    color: $tc;
    background-image: linear-gradient(to bottom,
                                  lighten($c, 12%),
                                  lighten($c, 11%));
  }

  @else if $t==active {
  // pushed button
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: $btn-border;
    background-image: linear-gradient(to bottom,
                                  darken($c, 9%),
                                  darken($c, 5%));
    box-shadow: $inset-shade;
  }
  @else if $t==hoveractive {
  // pushed hovered button
    color: $tc;
    background-image: linear-gradient(to bottom,
                                  darken($c, 11%),
                                  darken($c, 7%));
  }
  @else if $t==insensitive {
  // insensitive button
    $_bg: if($c!=$bg_color, mix($c, $base_color, 85%), $insensitive_bg_color);

    color: if($tc!=$fg_color, mix($tc, $_bg, 50%), $insensitive_fg_color);
    border-color: $btn-border-i;
    background-color: $_bg;
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: none;
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    > .label { color: inherit; }
  }
  @else if $t==insensitive-active {
  // insensitive pushed button
    $_bg: if($c!=$bg_color, darken(mix($c, $base_color, 85%), 5%),
                            $insensitive_bg_color);
    $_bc: if($c!=$bg_color, _border_color($c), $insensitive_borders_color);
    color: if($c!=$bg_color, mix($tc, $_bg, 60%), $insensitive_fg_color);
    border-color: $_bc;
    box-shadow: none;
    background-color: darken($c, 5%);
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha

    > .label { color: inherit; }
  }

  @else if $t==osd {
  // normal osd button
    $_bg: if($c!=$bg_color, transparentize($c, 0.5),
                            $osd_bg_color);

    color: $osd_fg_color;
    border-color: $osd_borders_color;
    background-image: image($_bg);
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }
  @else if $t==osd-hover {
  // active osd button
    $_bg: if($c!=$bg_color, transparentize($c, 0.3),
                            lighten($osd_bg_color, 12%));

    color: white;
    border-color: $osd_borders_color;
    background-image: image($_bg);
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }
  @else if $t==osd-active {
  // active osd button
    $_bg: if($c!=$bg_color, $c, $osd_borders_color);

    color: white;
    border-color: $osd_borders_color;
    background-image: image($_bg);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    outline-color: transparentize($osd_fg_color, 0.7);
  }
  @else if $t==osd-insensitive {
  // insensitive osd button
    color: $osd_insensitive_fg_color;
    border-color: $osd_borders_color;
    background-image: image($osd_insensitive_bg_color);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
  @else if $t==undecorated {
  // reset
    border-color: transparent;
    background-color: transparent;
    background-image: none;

    @include _shadows(inset 0 1px transparentize(white, 1), $_blank_edge);

    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}

@mixin trough($flat:false, $c:$bg_color, $tc:$fg_color, $noedge:false) {
  color: mix($tc, $bg_color, 80%);
  @if $flat { background-color: lighten($c, 10%); }
  @else {
    background-color: lighten($c, 10%);
  }

  border-color: if($c!=$bg_color, _border_color($c), $border_color);

  @if not($noedge) {
    @if lightness($c) > 60% {
      box-shadow: inset 0 -1px $borders_edge,
                  0 1px $borders_edge;
    }
    @else {
      box-shadow: inset 0 -1px transparentize($borders_edge, 0.5),
                  0 1px transparentize($borders_edge, 0.5);
    }
  }
  @else { box-shadow: none; }
}

@mixin headerbar_fill($c:$bg_color, $tc:lighten($c, 4%), $bc:transparentize($top_hilight, 0.7), $hc:transparentize($top_hilight, 0.4)) {
//
// headerbar fill
//
// $c:  base color
// $tc: top color
// $hc: top highlight color
// $bc: bottom highlight color
//
  background-image: linear-gradient(to bottom,
                                  lighten($c, 6%),
                                  $c);
  box-shadow: inset 0 1px $hc, inset 0 -1px $bc; // top and bottom highlight
}

@mixin ssd_fill($c:$bg_color, $tc:lighten($c, 4%), $hc:transparentize($top_hilight, 0.4)) {
//
// server side decoration fill
//
// $c:  base color
// $tc: top color
// $hc: top highlight color
//
  background-image: linear-gradient(to bottom,
                                  lighten($c, 6%),
                                  $c);
  box-shadow: inset 0 1px $hc; // top highlight
}

// FIXME: Do I need this annoying shit in this theme? I don't think so, but I'll leave it for now in case removal causes any trouble.
@mixin overshoot($p, $t:normal, $c:$fg_color) {
//
// overshoot
//
// $p: position
// $t: type
// $c: base color
//
// possible $p values:
// top, bottom, right, left
//
// possible $t values:
// normal, backdrop
//

  $_small_gradient_length: 5%;
  $_big_gradient_length: 100%;

  $_position: center top;
  $_small_gradient_size: 100% $_small_gradient_length;
  $_big_gradient_size: 100% $_big_gradient_length;

  @if $p==bottom {
    $_position: center bottom;
    $_linear_gradient_direction: to top;
  }

  @else if $p==right {
    $_position: right center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  @else if $p==left {
    $_position: left center;
    $_small_gradient_size: $_small_gradient_length 100%;
    $_big_gradient_size: $_big_gradient_length 100%;
  }

  $_small_gradient_color: $c;
  $_big_gradient_color: $c;

  @if $c==$fg_color {
    $_small_gradient_color: darken($borders_color, 10%);
    $_big_gradient_color: $fg_color;
  }

  $_small_gradient: -gtk-gradient(radial,
                                  $_position, 0,
                                  $_position, 0.5,
                                  to($_small_gradient_color),
                                  to(transparentize($_small_gradient_color, 1)));

  $_big_gradient: -gtk-gradient(radial,
                                $_position, 0,
                                $_position, 0.6,
                                from(transparentize($_big_gradient_color, 0.93)),
                                to(transparentize($_big_gradient_color, 1)));

  @if $t==normal {
    background-image: $_small_gradient, $_big_gradient;
    background-size: $_small_gradient_size, $_big_gradient_size;
  }

  background-repeat: no-repeat;
  background-position: $_position;

  background-color: transparent; // reset some properties to be sure to not inherit them somehow
  border: none;                  //
  box-shadow: none;              //
}

@mixin undershoot($p) {
//
// undershoot
//
// $p: position
//
// possible $p values:
// top, bottom, right, left
//

  $_undershoot_color_dark: transparentize(black, 0.8);
  $_undershoot_color_light: transparentize(white, 0.8);

  $_gradient_dir: left;
  $_dash_bg_size: 10px 0px;
  $_gradient_repeat: repeat-x;
  $_bg_pos: center $p;

  background-color: transparent; // shouldn't be needed, but better to be sure;

  @if ($p == left) or ($p == right) {
    $_gradient_dir: top;
    $_dash_bg_size: 0px 10px;
    $_gradient_repeat: repeat-y;
    $_bg_pos: $p center;
  }

  background-image: linear-gradient(to $_gradient_dir, // this is the dashed line
                                    $_undershoot_color_light 50%,
                                    $_undershoot_color_dark 50%);

  padding-#{$p}: 1px;
  background-size: $_dash_bg_size;
  background-repeat: $_gradient_repeat;
  background-origin: content-box;
  background-position: $_bg_pos;
  border: none;
  box-shadow: none;
}
