<h1> Create the cells </h1>
<pre>
<font size=+2>
// create 5x5 array of cells

objref cell[5][5]
for j=0,4 {
   for i=0,4 {
      cell[i][j] = new Cell()
      cell[i][j].position(i, j)
   }
}

access cell[0][0].soma

// view the cells
objref s
s = new Shape()
s.show(0)
s.action("print section_owner()")












						Cell[7]
</pre>
