.bap1 .bap-img-container {
	margin: -18px 0px 9px 10px;
	height: 45px;
	position: static;
}

.bap1 .bap-img-container img {
	margin-top: 6px !important;
}

.bap1 p {
	font-size: .7em;
	margin: 4px 5px 0px 10px;
	padding-bottom: 6px;
	line-height: 13px;
	width: 259px;
}

.bap1 .bap-close {
<!--[if lte IE 7]>
	top: 0px;
	left: 273px !important;
<![endif]-->
}
