.bap-blue, .bap-close, .bap-div, .bap-gradient, .bap-gray, .bap-img-container, .bap-notice, .bap-link-div {
	color: #000000;
	white-space: normal;
	word-wrap: normal;
	vertical-align: middle !important;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: Arial !important;
	font-size: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 13px;
	list-style: none;
	letter-spacing: 0px !important;
	text-align: left;
	overflow: visible !important;
}

.bap-notice {
	background-color: #FFFFFF;
	padding: 2px;
	font-size: 16px;
	line-height: 13px;
	z-index: 9991;
	top:-100px;
	left:-100px;
}

.bap-blue,.bap-blue:link,.bap-blue:visited {
	color: #2b2f98;
}

.bap-close {
	width:20px;
	color: #707070;
	font-size: 10px;
	font-weight: bold;
	margin-left: -22px;
	position: relative;
	top: 1px;
	left: 100%;
	cursor: pointer;
}

.bap-div {
	border: 1px solid #ababab;
}

.bap-div p {
	float: none;
	padding: 0;
}

.bap-gray, .bap-gray:visited {
	color: #444;
}

.bap-img-container a {
	vertical-align: middle;
	display: table-cell;
	height: 45px;
}

.bap-link-div {
	height: 14px;
	color: #2b2f98;
	border-top: 1px solid #ababab;
	padding: 3px 10px 4px 10px;
	text-decoration:none;
	font-size:.67em !important;
	font-weight:bold;	
}

.bap-link-div a, .bap-link-div span {
	text-decoration:none;
	font-size:inherit;
	font-weight:bold;	
}

#BAP-holder img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	max-width: 100%;
	box-shadow: 0 0 !important;
	-moz-box-shadow:0 0 !important;
	-webkit-box-shadow: 0 0 !important;
	background: none !important;
}

#BAP-holder {
	position: static !important;
}

#BAP-holder .bap-trigger {
	z-index: 9990
}

/* ICON CSS */
.bap-trigger {
	cursor: pointer;
	display:block;
	font-family:Arial;font-size:8pt;
	white-space:nowrap;
}


.bap-trigger img {
	width: auto;
	height: auto;
}
