/* Lightdm styling */

// the panel widget at the top
#panel_window {
  background-color: $panel_bg;
  color: $panel_fg;
  //font-style: bold;
  box-shadow: none;
  border-style: none;

  // the menubars/menus of the panel, i.e. indicators
  menubar,
  menubar > menuitem {
    //background-color: transparent;
    color: $panel_fg;
    //font-style: bold;
    box-shadow: none;
    border-style: none;
    &:active, &:checked, &:hover { 
      border-style: none;
      background-color: transparentize(white, 0.8);
    }
  }

  menubar menuitem:disabled {
    color: transparentize($panel_fg, 0.5);

    label { color: inherit; }
  }
  menubar menu > menuitem { font-style: normal; }
}

// the login window
#login_window,
#shutdown_dialog,
#restart_dialog {
  font-style: normal;
  border-style: none;
  background-color: transparent;
  color: $fg_color;
}

// the top half of the login-window, in GtkDialog terms, the content
#content_frame {
  padding-bottom: 14px;
  background-color: $bg_color;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: solid transparentize(black, 0.9);
  border-width: 1px 1px 0 1px;
  box-shadow: inset 0 -1px transparentize($top_hilight, 0.7), 
              1px 0 transparentize(black, 0.7),
              -1px 0 transparentize(black, 0.7),
              0 -1px transparentize(black, 0.7),
              2px 0 transparentize(black, 0.9),
              -2px 0 transparentize(black, 0.9),
              0 -2px transparentize(black, 0.9);
}

#content_frame button {
  @include button(normal);

  &:hover { @include button(hover); }
  &:active, &:checked { @include button(active); }
  &:disabled { @include button(insensitive); }
}

// the lower half of the login-window, in GtkDialog terms the buttonbox or action area
#buttonbox_frame {
  padding-top: 20px;
  padding-bottom: 0px;
  border-style: none;
  background-color: darken($bg_color,5%);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: solid transparentize(black, 0.9);
  border-width: 1px;
  box-shadow: inset 0 2px transparentize($borders_color,0.65),
              1px 0 transparentize(black, 0.7),
              -1px 0 transparentize(black, 0.7),
              0 1px transparentize(black, 0.7),
              2px 0 transparentize(black, 0.9),
              -2px 0 transparentize(black, 0.9),
              0 2px transparentize(black, 0.9);
}

#buttonbox_frame button {
  @include button(normal);

  &:hover { @include button(hover); }
  &:active, &:checked { @include button(active); }
  &:disabled { @include button(insensitive); }
}

#login_window #user_combobox {
  color: $fg_color;
  menu { font-style: normal; }
}

// the user's avatar box
#user_image {
  padding: 3px;
  border-radius: 2px;
}

// the shutdown button
#shutdown_button.button {
  @include button(normal, $destructive_color);

  &:hover { @include button(hover, lighten($destructive_color, 10%)); }
  &:active, &:checked { @include button(active, darken($destructive_color, 10%)); }
}

// the restart button
#restart_button.button {
  @include button(normal, $selected_bg_color);

  &:hover { @include button(hover, lighten($selected_bg_color, 10%)); }
  &:active, &:checked { @include button(active, darken($selected_bg_color, 10%)); }
}

// the warning, in case a wrong password is entered or something else goes wrong according to PAM
#greeter_infobar {
  border-bottom-width: 0;
  //font-style: bold;
}
