/*
   Unity styling
*/

// Decorations
UnityDecoration {
  -UnityDecoration-extents: 28px 1 1 1;
  -UnityDecoration-input-extents: 10px;

  -UnityDecoration-shadow-offset-x: 0px;
  -UnityDecoration-shadow-offset-y: 3px;
  -UnityDecoration-active-shadow-color: rgba(0, 0, 0, 0.2);
  -UnityDecoration-active-shadow-radius: 12px;
  -UnityDecoration-inactive-shadow-color: rgba(0, 0, 0, 0.07);
  -UnityDecoration-inactive-shadow-radius: 7px;

  -UnityDecoration-glow-size: 10px;
  -UnityDecoration-glow-color: $selected_bg_color;

  -UnityDecoration-title-indent: 10px;
  -UnityDecoration-title-fade: 35px;
  -UnityDecoration-title-alignment: 0.0;

  &.top {
    border: 1px solid $borders_color;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    padding: 1px 6px 0 6px;

    background-color: $bg_color;
    color: $text_color;

    box-shadow: inset 0 1px transparentize($top_hilight, 0.4);

    &:backdrop {
      border-bottom-width: 0;
      color: $backdrop_fg_color;
    }
  }
  &.left, &.right, &.bottom,
  &.left:backdrop, &.right:backdrop, &.bottom:backdrop {
    background-color: $bg_color;
  }
}

// Panel Style
UnityPanelWidget,
.unity-panel {
  background-color: $panel_bg;
  color: $panel_fg;
  box-shadow: none;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
  border-radius: 0;
  color: $selected_fg_color;
  background-color: $selected_bg_color;
  border-bottom: none;
}
