<%@ Register TagPrefix="AM" TagName="Nav" Src="../UserControls/faculty.ascx" %>
<%@ Page language="c#" Codebehind="WorkWithCourse.cs" AutoEventWireup="false" Inherits="Microsoft.VisualStudio.Academic.AssignmentManager.Faculty.WorkWithCourse" %>
<HTML>
	<HEAD>
		<TITLE>
<%Response.Write(Title);%>
		</TITLE>
		<meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
		<meta name="CODE_LANGUAGE" Content="C#">
		<!DOCTYPE HTML public="-//W3C//DTD HTML 4.0 Transitional//EN">
		<AM:Nav id="Nav1" runat="server" name="Nav1">
		</AM:Nav>
	</HEAD>
	<BODY>
		<div id="mainBody" class="mainBody">
		</div>
	</BODY>
</HTML>
