body {
	background-color: #e2e3e6;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#contents {
	margin-top: 50px;
}

@media (min-width: 992px) {
   .container {
      width: 992px;
   }   
}

.container.white {
	background-color: #fff;
}

.container.medium-gray {
	background-color: #e2e3e6;
}

.container.light-gray {
	background-color: #f2f3f4;
}

.container.dark-gray {
	color: #fff;
	background-color: #9da3ad;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0;
}
.bottom-links {
	padding-bottom: 5px;
	line-height: 28px;
}

a {
	color: #004276;
}
a:hover {
	color: #004276;
}
a:visited {
	color: #4c7a9f;
}

.red {
	color: #763300;
}
.red:hover {
	color: #763300;
}
.red:visited {
	color: #9f704c;
}

.blue {
	color: #004276;
}
.blue:hover {
	color: #004276;
}
.blue:visited {
	color: #4c7a9f;
}

.gray {
	color: #999;
}
.gray:hover {
	color: #999;
}
.gray:visited {
	color: #999;
}

.black {
	color: #000;
}
.black:hover {
	color: #000;
}
.black:visited {
	color: #000;
}

.fa-apple {
	color: #979797;
}
.fa-android {
	color: #a4c639;
}
.fa-windows {
	color: #00bcf2;
}
.fa-tablet {
	color: #000;
}
.fa-facebook {
	color: #3b5998;
}
.fa-twitter {
	color: #55acee;
}
.fa-google-plus {
	color: #dd4b39;
}
.fa-linkedin {
	color: #0976b4;
}
.fa-rss {
	color: #ff6600;
}

div.header {
	margin-bottom: 15px;
}

div.logo {
	margin-top: 15px;
}
hr.hr-logo {
	border-color: #ccc;
	margin-top: -3px;
}
div.motto {
	 font-size: 14px;
	 margin: -3px 0 0 2px;
}

div.sharing {
	text-align: right;
	margin-top: 24px;
	border-bottom: 1px solid #ccc;
}

a.topbar {
    background-color: #eee;
    border-color: #ccc;
    color: #763300;
    cursor: none;
}
a.topbar:hover {
    background-color: #eee;
    border-color: #ccc;
    color: #763300;
    cursor: default;
}

#controls a {
	padding: 5px 10px;
	border-bottom: none;
}

div.breaking-news {
	width: 523px;
	float: right;
	margin: 5px 0 0 0;
}
div.breaking-news > span > strong > a {
	color: #763300;
}

.newsticker {
	display: none;
	margin: 0 0 0 10px;
	text-align: left;
	width: 400px;
}
.newsticker li {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media (min-width: 768px) {
	div.no-padding-right {
		padding-right: 0;
	}
	div.no-padding-left {
		padding-left: 0;
	}
}

@media (max-width: 374px) {
	.hidden-tiny {
		display: none !important;
	}
	#controls a {
		border-bottom: 1px solid #ccc;
	}
	div.sharing {
		text-align: left;
		margin-top: 10px;
		padding-bottom: 0;
		border-bottom: none;
	}
	div.breaking-news {
		float: none;
		text-align: left;
		width: 275px;
		padding: 5px 0 0 0;
		border-bottom: none;
	}
	.newsticker {
		width: 195px;
	}
	div.hero .tab-pane {
		display: block !important;
	}
}

@media (min-width: 375px) and (max-width: 767px) {
	#controls a {
		border-bottom: 1px solid #ccc;
	}
	div.sharing {
		text-align: left;
		margin-top: 10px;
		padding-bottom: 0;
		border-bottom: none;
	}
	div.breaking-news {
		float: none;
		text-align: left;
		width: 300px;
		padding: 5px 0 0 0;
		border-bottom: none;
	}
	.newsticker {
		width: 225px;
	}
	div.hero .tab-pane {
		display: block !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	div.breaking-news {
		float: right;
		width: 312px;
		padding: 0;
		border-bottom: none;
	}
	.newsticker {
		width: 236px;
	}
	div.hero .tab-pane {
		display: block !important;
	}
}

@media (min-width: 768px) {
	div.less-padding-right {
		padding-right: 10px;
	}
	div.less-padding-left {
		padding-left: 8px;
	}
}

.btn-group > .tooltip + .btn {
margin-left:-1px;
}


span.icon-s {
	font-weight: 800;
	color: #004276;
	position: relative;
	top: -3px;
}
span.icon-d {
	font-weight: 200;
	color: #763300;
	position: relative;
	top: 7px;
}

span.logo-s {
	font-weight: 800;
	font-size: 42px;
}
span.logo-d {
	font-weight: 200;
	font-size: 42px;
}
span.logo-r {
	font-weight: 200;
	font-size: 10px;
	position: relative;
	top: -24px;
	left: -4px;
}

.menu {
	padding: 5px 8px 6px 8px;
	margin-left: 5px;
}

@media (min-width: 768px) {
	.search {
		margin-right: -15px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#keyword {
		width: 90px;
	}
}
@media (min-width: 992px) {
	#keyword {
		width: 165px;
	}
}

div.more {
	margin: -10px 0 20px 0;
}
div.more-breaking {
	margin: -10px 0 0 0;
}
hr.hr-more {
	border-color: #ccc; margin-bottom: -1px;
}

div.tools-top {
	margin: 16px 0 0 0;
}
hr.hr-tools-top {
	margin: -1px 0 16px 0;
	border-color: #ccc;
}
div.tools-bottom {
	margin: 16px 0 10px 0;
}
hr.hr-tools-bottom {
	margin: 20px 0 -17px 0;
	border-color: #ccc;
}

div.main {
	margin-bottom: 20px;
}

div.sidebar {
	margin-bottom: 20px;
}

div.side-subhead {
	font-weight: bold;
	font-size: 12px;
	margin: 15px 0 10px 0;
	color: #999;
}

img.side-image {
	float: left;
	vertical-align: top;
	margin: 3px 10px 5px 0;
}
img.related-image {
	float: left;
	vertical-align: top;
	margin: 3px 10px 3px 0;
}

h5 {
	margin: 0 0 15px 0;
}
h5.related-headline {
	margin: 0 0 5px 0;
}

@media print {
	a[href]:after {
    	content: none;
	}
	div.top-leaderboard, div.top-rectangle, div.unit2, div.half-page, div.bottom-rectangle, div.left-skyscraper, div.mobile-top-rectangle, div.mobile-unit2, div.mobile-middle-rectangle, div.mobile-bottom-rectangle, div.top-native {
		display: none !important;
	}
	div.top-leaderboard *, div.top-rectangle *, div.unit2 *, div.half-page *, div.bottom-rectangle *, div.left-skyscraper *, div.mobile-top-rectangle *, div.mobile-unit2 *, div.mobile-middle-rectangle *, div.mobile-bottom-rectangle *, div.top-native * {
		display: none !important;
	}
}

@media (min-width: 992px) {
	div.top-leaderboard {
		width: 728px;
		height: 90px;
		float: left;
		margin: 0 auto 20px auto;
	}
}

div.top-rectangle, div.unit2 {
	width: 100%;
	text-align: center;
	margin: 10px 0 20px 0;
}

div.mobile-top-rectangle, div.mobile-unit2, div.mobile-middle-rectangle, div.mobile-bottom-rectangle {
	width: 100%;
	text-align: center;
	margin: 0;
}

@media (max-width: 374px) {
	div.mobile-top-rectangle, div.mobile-unit2 {
		height: auto;
		min-height: 250px;
		margin: 20px 0;
	}
	div.mobile-middle-rectangle, div.mobile-bottom-rectangle {
		height: auto;
		min-height: 250px;
		margin: 20px 0;
	}
}
@media (min-width: 375px) and (max-width: 767px) {
	div.mobile-top-rectangle, div.mobile-unit2 {
		height: auto;
		min-height: 250px;
		margin: 20px 0;
	}
	div.mobile-middle-rectangle, div.mobile-bottom-rectangle {
		height: auto;
		min-height: 250px;
		margin: 20px 0;
	}
}

div.half-page {
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

div.bottom-rectangle {
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

div.left-skyscraper {
	text-align: center;
	margin: 15px 0 20px 0;
}
div.left-skyscraper div {
	width: 100%;
	margin: 0 auto;
}

#message_box {
	display: table;
	float: right;
	margin: 0 0 20px 0;
	padding: 8px 10px;
	border: 1px solid #ccc;
	font-size: 14px;
}
#message {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
#message a {
	color: #004276;
	text-decoration: none;
}
#message a.store {
	color: #763300;
}
#message a:hover {
	text-decoration: underline;
}
@media (max-width: 991px) {
	#message_box {
		float: none;
		width: 100%;
		height: 60px;
	}
}
@media (min-width: 992px) {
	#message_box {
		width: 210px;
		height: 90px;
	}
}

@media (max-width: 767px) {
	#navwrapper {
		position: absolute;
		top: 236px;
		margin: 0 auto;
		width: 100%;
	}
}
@media (min-width: 767px) and (max-width: 991px) {
	#navwrapper {
		position: absolute;
		top: 175px;
		margin: 0 auto;
		width: 100%;
	}
}
@media (min-width: 992px) {
	#navwrapper {
		position: absolute;
		top: 205px;
		margin: 0 auto;
		width: 100%;
	}
}
#topnav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.affix + .container {
	padding-top: 52px;
}

.navbar {
	margin-bottom: 0;
}

/* -------- CUSTOM NAVBAR --------- */
.navbar-custom {
  background-color: #f2f3f4;
  border-color: #e0e2e5;
}
.navbar-custom .navbar-brand {
  color: #004276;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #002543;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #004276;
}
.navbar-custom .navbar-nav > li > a {
  color: #004276;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #763300;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #763300;
  background-color: #e0e2e5;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #dfe1e4;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #763300;
  border-bottom-color: #763300;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #e0e2e5;
  color: #763300;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #763300;
  border-bottom-color: #763300;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #004276;
  border-bottom-color: #004276;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #004276;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #004276;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #004276;
    background-color: #e0e2e5;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #004276;
}
.navbar-custom .navbar-link:hover {
  color: #763300;
}
/* -------- /custom navbar --------- */

/* -------- 2nd level menu --------- */
@media (min-width: 768px) {
	.dropdown-submenu {
	  position: relative;
	}
	.dropdown-submenu > .dropdown-menu {
	  top: 0;
	  left: 100%;
	  margin-top: -6px;
	  margin-left: -1px;
	}
	.dropdown-submenu > .dropdown-menu-right {
	  left: auto;
	  right: 100%;
	  margin-top: -6px;
	  margin-right: -1px;
	}
	.dropdown-submenu:hover > .dropdown-menu {
	  display: block;
	}
	.dropdown-submenu:hover > a:after {
	  border-left-color: #fff;
	}
	.dropdown-submenu.pull-left {
	  float: none;
	}
	.dropdown-submenu.pull-left > .dropdown-menu {
	  left: -100%;
	  margin-left: 10px;
	}
	.active-gray {
		background-color: #f2f3f4;
	}
	.fa-left-padding {
		padding-left: 5px;
	}
	.fa-right-padding {
		padding-right: 5px;
	}
}
/* -------- /2nd level menu -------- */

/* -------- CUSTOM BUTTON --------- */
.btn-custom { 
  color: #ffffff; 
  background-color: #004276; 
  border-color: #004276; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #ffffff; 
  background-color: #763300; 
  border-color: #004276; 
} 
 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  background-image: none; 
} 
 
.btn-custom.disabled, 
.btn-custom[disabled], 
fieldset[disabled] .btn-custom, 
.btn-custom.disabled:hover, 
.btn-custom[disabled]:hover, 
fieldset[disabled] .btn-custom:hover, 
.btn-custom.disabled:focus, 
.btn-custom[disabled]:focus, 
fieldset[disabled] .btn-custom:focus, 
.btn-custom.disabled:active, 
.btn-custom[disabled]:active, 
fieldset[disabled] .btn-custom:active, 
.btn-custom.disabled.active, 
.btn-custom[disabled].active, 
fieldset[disabled] .btn-custom.active { 
  background-color: #004276; 
  border-color: #004276; 
} 
 
.btn-custom .badge { 
  color: #004276; 
  background-color: #ffffff; 
}
/* -------- /custom button --------- */

hr.hr-logo {
	border-color: #ccc;
	margin: -3px 0 8px 0;
}

hr.hr-dark {
	border-color: #ccc;
}

div.head {
	height: 20px;
	margin: 10px 0 10px 0;
}
div.head-left {
	font-size: 20px;
	font-weight: bold;
}
div.sidebar .head-left {
	font-size: 18px;
}
div.head-right {
	font-size: 14px;
	font-style: italic;
	margin-top: 7px;
}
div.sidebar .head-right {
	margin-top: 5px;
}
hr.head-rule {
	border-color: #ccc;
	margin: 5px 0 15px 0;
}

div.head-no-padding-right {
	padding-right: 0;
}
div.head-no-padding-left {
	padding-left: 0;
}

div.subhead {
	height: 16px;
	margin: 5px 0 10px 0;
}
div.subhead-breaking {
	height: 16px;
	margin: 0 0 10px 0;
}
div.subhead-left {
	font-size: 16px;
	font-weight: bold;
}
div.subhead-right {
	font-size: 14px;
	font-style: italic;
	margin-top: 7px;
}

h3.hero {
	font-size: 16px;
	margin: 10px 0 15px 0;
}
h3.hero > a {
	color: #763300;
}
h3.hero > a:hover {
	color: #763300;
}
h3.hero > a:visited {
	color: #9f704c;
}

ul.hero-list {
	list-style-type: none;
	margin-top: -5px;
	margin-bottom: 0;
	padding-bottom: 0;
}

ul.hero-list li {
	border: none;
	padding: 2px 0 5px 15px;
}

ul.hero-list li:before {
	content: '\f105';
	font-family: 'FontAwesome';
	float: left;
	margin-left: -15px;
}

.hero-list li button {
	border: none;
	background: none;
	padding: 0;
}

li.section-head {
	padding: 0 0 5px 0 !important;
	border-bottom: 1px solid #ddd !important;
	margin-top: 5px;
	margin-bottom: 5px;
}
li.section-head:before {
	content: normal !important;
}
li.section-head a {
	font-weight: bold;
	color: #763300;
}

div.latest-image {
	margin-top: 3px;
}
h3.latest-head {
	font-size: 16px;
	margin: 0;
}
div.latest-summary {
	margin: 10px 0;
}
div.related-summary {
	margin: 0 0 20px 0;
}
a.btn-more {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 0 0 5px 0;
	background: none;
	color: #004276;
}
ul.latest-topics li {
	margin: 10px 0 0 0;
}
ul.latest-topics li a {
	color: #763300;
}

@media (max-width: 374px) {
	div.latest-image {
		max-height: 50px;
		overflow: hidden;
	}	
}
@media (min-width: 375px) and (max-width: 767px) {
	div.latest-image {
		max-height: 100px;
		overflow: hidden;
	}	
}
@media (min-width: 768px) and (max-width: 991px) {
	div.latest-image {
		max-height: 65px;
		overflow: hidden;
	}	
}
@media (min-width: 992px) {
	div.latest-image {
		max-height: 80px;
		overflow: hidden;
	}	
}

div.footer-links {
	padding: 15px 0 0 0;
}

div.footer-head {
	margin: 0 0 5px 0;
	font-size: 18px;
	font-weight: bold;
}
hr.footer-rule {
	margin: 10px 0;	
	border-color: #999;
}
ul.footer-list {
	margin-bottom: 15px;
}
ul.footer-list li {
	padding: 5px 0;
}
ul.footer-list li i {
	margin-right: 5px;
}

div.dark-gray a {
	color: #fff;
}

.nav-header > a {
	font-weight: bold;
	font-size: 12px;
	color: #999;
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
	margin-bottom: 5px;
}
.subnav li.active {
	background-color: #eee;
}
.subnav li a {
	color: #763300;
}
.nav-subheader > a {
	font-variant: small-caps;
	color: #333;
}
.nav.fa-ul i {
	margin: 5px 0 0 5px;
	padding: 0;
}
.nav-condensed li a {
	margin: 0;
	padding: 5px;
	font-weight: normal;
	color: #004276;
}
.subtopic li {
	margin-left: 30px;
}
.subtopic li a {
	color: #763300;
}

.topics {
	margin: -12px -10px 20px 0;
}

.navigation {
	margin: -8px -10px 20px 0;
}

.right-tabs .nav {
    float: right;
    border-bottom: 0px;
}
.right-tabs .nav li { float: left }
.right-tabs .tab-content {
    float: left;
    border-top: 1px solid #ddd;
    margin-top: -1px;
}

.img-left {
	float: left;
	margin: 2px 15px 15px 0;
}

h4.list {
	font-size: 16px;
	margin: 0 0 15px 0;
}

#summaries {
	padding: 20px 0 0 0;
}

span.more {
	white-space: nowrap;
}
span.more a {
	color: #763300;
	font-weight: bold;
}

div.headlines-date {
	margin: 15px 0;
	font-weight: bold;
}

ul.list-padded {
	margin-left: 20px;
}
ul.list-padded li {
	padding-bottom: 10px;
}

h1.headline {
	font-size: 24px;
	color: #004276;
	margin: 0;
}
h2.subtitle {
	font-size: 18px;
	color: #333;
	margin: 5px 0 0 0;
}

dl.dl-custom {
	margin: 20px 0 0 0;
}
dl.dl-custom dt {
	float: left;
	text-align: right;
	width: 70px;
	font-weight: normal;
	font-style: italic;
	padding-bottom: 5px;
}
dl.dl-custom dd {
	margin-left: 90px;
	padding-bottom: 5px;
}
#abstract {
	margin-bottom: 15px;
}

#story_photo {
	margin-top: 15px;
}
div.photo-image {
	background-color: #e2e3e6;
}
div.photo-image img:hover {
	cursor: pointer;
}
div.photo-caption {
	padding: 10px 10px 5px 10px;
	background-color: #f2f3f4;
}
div.photo-credit {
	background-color: #f2f3f4;
	padding: 5px 10px 10px 10px;
	font-style: italic;
}
div.modal-content-custom {
	background-color: #e2e3e6;
}
div.modal-image {
	background-color: #e2e3e6;
}
div.modal-text {
	background-color: #f2f3f4;
}
div.modal-caption {
	padding: 10px 10px 5px 10px;
}
div.modal-credit {
	padding: 5px 10px 10px 10px;
	font-style: italic;
	float: left;
	width: 65%;
}
div.modal-close {
	padding: 5px 10px 10px 10px;
	float: right;
	text-align: right;
	width: 35%;
}

#story_text {
	margin-top: 15px;
}

#page_text {
	margin-top: 15px;
}

#story_text_continued:before, #related_content:before { 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
}

div.tab-citations {
	padding-top: 15px;
}

.hyphenate {
	word-break: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

#more_coverage {
	margin-bottom: 15px;
}
#related_stories {
	margin-bottom: 25px;
}

#share_this_page {
	margin-bottom: 20px;
}
#share_this_page p {
	margin-bottom: 15px;
}
#share_top, #share_bottom {
	display: inline-block;
}
#share_top a, #share_bottom a {
	margin: -5px 10px 10px 0;
}
#total_shares {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

#video_player {
	margin: 10px 0;
	overflow: hidden;
}

#video_list {
	margin-top: -5px;
}

#story_list {
	margin-top: -5px;
}

#wide_contents {
	margin-top: 15px;
}

.more-margin-top {
	margin-top: 20px;
}

li.subtopic-head {
	color: #666; font-weight: bold;
}
ul.topic {
	margin-left: 10px;
}
ul.subtopic {
	margin-left: 20px;
}

#search_list {
	margin-top: -5px;
}
.progress-custom {
	background-color: #9da3ad;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.center-cropped-thumb {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 46px;
  width: 75px;
}

span.story-date {
	color: #737c89;
}

@media (min-width: 768px) {
	div.featured-no-padding-right {
		padding-right: 0;
	}
	div.featured-less-padding-right {
		padding-right: 10px;
	}
}

ol.journal {
	margin: 0;
	padding-left: 20px;
}
ol.journal li {
	margin: 0;
	padding-left: 5px;
}

@media (max-width: 991px) {
	.col-xs-6:nth-child(odd) {
	    clear: both;
	}
}

div.fullstory {
	font-weight: bold;
	font-size: 12px;
	margin: 12px 0 12px 0;
	color: #999;
}
hr.hr-fullstory {
	border-color: #ccc; margin-top: -1px;
}
div.load-more-container {
	text-align: center; margin: 10px 0 20px 0;
}

/* font resizer styles */

.fontresize {
margin: 0 15px 0 0;
}

.decreaseFont {
font-size: 12px;
}

.normalizeFont {
font-size: 14px;
}

.increaseFont {
font-size: 16px;
}

.fs-widget {
	margin: 0 5px 0 0;
	padding: 12px 10px 0 0;
	border: none;
	white-space: nowrap;
}
.navbar-header a.fs-widget:hover {
	background-color: #f2f3f4;
}

.brand {
	margin-left: -15px;
}

#term_excerpt {
	margin: 15px 0 10px 0;
}
#term_excerpt .lead {
	margin-bottom: 10px;
}
#term_attribution {
	border: 1px solid #ccc;
	background-color: #f2f3f4;
	padding: 10px 15px;
	margin: 15px 0;
}
#term_related {
	margin: 10px 0;
}
@media (min-width: 767px) {
	.dropdown:hover > .dropdown-menu {
	   display: block;
	}
	.dropdown:hover {
		background-color: #e0e2e5;
	}
	.dropdown:hover .navbar-brand {
		background-color: #e0e2e5 !important;
	}
}
#google_search,
#google_search *,
#google_search *:before,
#google_search *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

#subscribe {
	background-color: #f2f3f4;
	padding: 10px 15px;
	border: none;
	margin-bottom: 15px;
}
#newsfeed {
	font-weight: bold;
}
hr.subscribe-rule {
	border-color: #ccc;
	margin: 5px 0 10px 0;
}
ul.subscribe-list {
	margin: -5px 0;
}
ul.subscribe-list li {
	padding: 5px 0;
}
ul.subscribe-list li i {
	margin-right: 5px;
}
.mode .fa-fw {
	margin-right: 5px;
}
.mode {
	padding: 5px 7px 6px 7px;
}
.menu-section {
	font-weight: bold;
	padding: 10px 0 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}
.menu-section a {
	color: #763300;
}
.menu-topics li {
	padding: 2px 0 2px 15px;
}
.menu-topics li:before {
	content: '\f105';
	font-family: 'FontAwesome';
	float: left;
	margin-left: -15px;
}

.less-top-margin {
	margin-top: 0 !important;
}

.related-topics {
	line-height: 24px;
}

.related-topics li:before {
	content: '\f105';
	font-family: 'FontAwesome';
	float: left;
	margin-right: 10px;
}
.related-topics-heroes li {
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.related-topics a {
	color: #763300;
}
.related-topics a:visited {
	color: #763300;
}
.related-head {
	font-size: 12px;
	color: #999;
	font-weight: bold;
	padding: 0 0 5px 0 !important;
	margin-bottom: 5px;
	border-bottom: 1px solid #ddd !important;
}

.lead {
	font-size: 18px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 0;
}

.strike > span {
    position: relative;
    display: inline-block;
    font-variant: small-caps;
    color: #9da3ad;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #eee;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
